<server description="KBCServer">
	<featureManager>
		<feature>jdbc-4.1</feature>
		<feature>servlet-3.1</feature>
		<!-- JSP disabled: clash with jaxrs -->
		<!-- <feature>jsp-2.3</feature> -->
		<feature>jsonp-1.0</feature>
		<feature>beanValidation-1.1</feature>
		<feature>el-3.0</feature>
		<feature>ejbLite-3.2</feature>
		<feature>ejbPersistentTimer-3.2</feature>
		<feature>ejbRemote-3.2</feature>
		<feature>jndi-1.0</feature>
		<feature>jaxrs-2.0</feature>
		<feature>jpa-2.1</feature>
		<feature>mpMetrics-1.1</feature>
		<feature>mpConfig-1.3</feature>
		<feature>mpHealth-1.0</feature>
	    <feature>jpaContainer-2.1</feature>
	    <feature>bells-1.0</feature>	
	</featureManager>
	<bell libraryRef="eclipselink"/>

	<applicationManager autoExpand="true" />
	
	<quickStartSecurity userName="admin" userPassword="admin" />
	<keyStore id="defaultKeyStore" password="mpKeystore" />
	<logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />
	<httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />
	<variable name="io_openliberty_guides_system_inMaintenance" value="false" />
	<webApplication location="${appLocation}" contextRoot="${app.context.root}" >
	    <classloader commonLibraryRef="eclipselink,logging,jdbc-drivers"/>
	</webApplication>
	<!-- let op de versies zijn ff vast en niet via properties/ant generatie -->
	<library id="eclipselink">
	    <file name="${server.config.dir}/jars/jpa/eclipselink-2.5.0.jar"/>
	</library>
	<library id="logging">
	    <file name="${server.config.dir}/jars/log/jcl-over-slf4j-1.7.26.jar"/>
	    <file name="${server.config.dir}/jars/log/slf4j-api-1.7.26.jar"/>
	    <file name="${server.config.dir}/jars/log/slf4j-log4j12-1.7.26.jar"/>
	</library>

	<library id="jdbc-drivers">
	    <file name="${server.config.dir}/jars/jdbc/hsqldb-2.4.1.jar"/>
	    <file name="${server.config.dir}/jars/jdbc/postgresql-42.2.5.jar"/>
	    <file name="${server.config.dir}/jars/jdbc/derbyclient-10.15.1.3.jar"/>
	</library>	

	

    
    <jpa defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider"/>	
    

    <dataSource id="DefaultDataSource" jndiName="jdbc/stuga">
	    <jdbcDriver id="postgresql-driver"
	                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
	                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
	                libraryRef="jdbc-drivers"/>                
        <properties serverName="127.0.0.1"
                    portNumber="5432"
                    databaseName="jeekbc"
                    user="postgres"
                    password="admin"/>
                    
    </dataSource>
<!-- 
todo na activatie in de properties zetten
	datasource.server.name
	datasource.server.port
    datasource.server.user
    datasource.server.password
    
    ${dev.db.postgress.password.admin}
	
	
    <jdbcDriver id="DerbyEmbedded" libraryRef="DerbyLib" />
    <library id="DerbyLib" filesetRef="DerbyFileset" />
    <fileset id="DerbyFileset"
             dir="${shared.resource.dir}"
             includes="derby-10.13.1.1.jar" />

    <dataSource id="jdbc/samplejpadatasource"
                jndiName="jdbc/samplejpadatasource"
                jdbcDriverRef="DerbyEmbedded">
        <properties.derby.embedded databaseName="memory:jpasampledatabase"
                    createDatabase="create" />
    </dataSource>

    <dataSource id="jdbc/samplejpadatasourcenonjta"
                jndiName="jdbc/samplejpadatasourcenonjta"
                jdbcDriverRef="DerbyEmbedded"
                transactional="false">
        <properties.derby.embedded databaseName="memory:jpasampledatabase"
                    createDatabase="create" />
    </dataSource>
     -->
</server>